a{color: #003474;}
font{
    font-family: Garamond, serif;
    color: white;
}
body{
    background-color: #001e42;
}
h1{
    text-align: center;
    color: whitesmoke;
}
h3{
    text-align: center;
    color: whitesmoke;
}
h2{
    text-align: center;
    color: whitesmoke;
}